html {
  background-image: url("../img/wolken.jpeg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Proxima-Nova", sans-serif;
  padding: 2em 6vw 3em 6vw;
  color: #4f4f4f;

}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
h1 {
  color: #ec6e4c;
  margin-bottom: 1.5em;
}

section.popup h1 {
  margin-bottom: 2.5em;
  text-align: center;
}

button {
  cursor: pointer;
  outline: none;
  padding: 1em 2em;
  background-color: #ec6e4c;
  color: #fff;
  border: none;
  border-radius: 2em;
  font-family: 'Proxima-Nova', sans-serif;
  font-size: 1em;
  transition: all .3s ease;
}

button:hover {
  background-color: #fff;
  border: 1px solid #ec6e4c;
  color: #ec6e4c;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.9);
}

.verberg {
  display: none;
}

/* Content aan de linkerkant
    > Het weerbericht van je huidige locatie
*/

  section.links {
    padding: 1em 3vw;
  }

  section.links article {
    padding: 3em;
    text-align: center;
    background-color: #fff;
    border-radius: 0.3em;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: all .3s ease;
  }

  section.links article:active {
    transform: scale(0.95);
  }

  p.temperatuur-huidig {
    font-size: 1.5em;
    margin: 0.7em 0 0 0;
  }

  p.omschrijving-huidig {
    color: #8a8a8a;
    margin: 0.5em 0 2em 0;
  }

  section.links article button {
    margin-bottom: 1.5em;
  }

/* Content aan de rechterkant
    > Het weerbericht van wereldsteden
*/

  section.rechts {
    padding: 1em 3vw;
    transition: all .2s ease;
  }

  li {
    padding: 1em;
    margin: 0 0 1em 0;
  }

  body ul {
    padding: 0;
    list-style: none;
  }

/* De list elementen */
  body ul .list-element {
    background-color: #fff;
    color: #212121;
    border-radius: 0.3em;
    display: flex;
  }

  ul.list-container li p {
  vertical-align: middle;
  flex-grow: 3;
  line-height: 1.8;
  margin-left: 0.5em;
  opacity: 0.4;
}

p.grootBold {
  font-size: 1.1em;
  font-weight: bold;
}

ul.list-container li p.grootBold {
  text-align: right;
  margin-right: 2.5em;
  opacity: 1;
}

  /* Wolk afbeelding in list-item */
  li.list-element img {
    width: 4em;
    border-radius: 0.2em;
    display: inline-block;
    margin: 0em 2em 0 2em;
  }

  /* De popup (achtergrond ervan) */
  .popup {
    position: fixed;
    z-index: 999;
    padding-top: 2em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: none;
  }

  /* Content van de Popup */
  .popup-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    padding: 4vw 5vw;
    transition: all .2s ease;
    border-radius: 0.3em;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.15);
  }

  .popup-content ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  }

  .popup-content h3 {
    text-align: center;
    margin-top: 2.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ededed;
  }


/* Knop om de popup te kunnen sluiten */

  .close {
    color: #fff;
    float: right;
    font-weight: bold;
    font-size: 2.5em;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 5em;
    background-color: #ec6e4c;
    text-align: center;
    line-height: 1.05em;
    transition: all .2s ease;
  }

  .close::after {
    content: "ESC";
    position: absolute;
    font-size: 0.3em;
    color: #ec6e4c;
    left: 0.7em;
    top: 3em;
  }

  .close:hover,
  .close:focus {
    color: #ec6e4c;
    background-color: #fff;
    border: 1px solid #ec6e4c;
    transform: scale(1.1);
    text-decoration: none;
    cursor: pointer;
  }

  .close:active {
    transform: scale(0.9);
  }
